.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;

  @media screen and (min-width: $tablet-min) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media screen and (min-width: $desktop-min) {
    width: 1120px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
