.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: var(--mobile-min)) {
    width: 320px;
  }

  @media screen and (min-width: var(--mobile)) {
    width: 480px;
  }

  @media screen and (min-width: var(--tablet-min)) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: var(--desktop-min)) {
    width: 1090px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
