// *
// * Все переменные с цветом, шрифтом, трансформациями и т.д. добавляем сюда:
// *

:root {
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --background-accent: #fff5f6;
  --background-icon: #fea5bb;
  --background-modal: #e17992;
  --background-modal-line: #e18298;
  --background-pink: #ffb8ca;
  --background-beige: #f0d1a5;
  --background-green: #c2e297;
  --background-reviews-light: #fafafa;
  --background-reviews: #e1e1e1;
  --background-button: #d41342;
  --background-icon-reviews: #d9d9d9;
  --background-icon-reviews-accent: #d31342;
  --background-dots-reviews: #c7133e;
  --text-color-title: #d41443;
  --text-color-pink: #ffa5ba;
  --text-color-accent: #907e82;
  --background-btn: #ecebeb;

  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
  --main-letter-spacing: 0.04em;

  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile-min: 320px;
$mobile: 480px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1279px;
$desktop-min: 1280px;
