<section id="how-its-made" class="about">
  <div class="container">
    <span class="about-signature">tradition and love</span>
    <h2 class="about-header">how it’s made?</h2>

    <div class="about-wrapper">
      <div class="about-img-wrapper">
        <picture class="about-cow">
          <source
            srcset="./images/about/tel/x1/cow-tel.png 1x, ./images/about/tel/x2/cow-tel@2x.png 2x"
            type="image/png"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/about/tel/x1/cow-tel.webp 1x, ./images/about/tel/x2/cow-tel@2x.webp 2x"
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/about/tablet/x1/cow-tablet.png    1x,
              ./images/about/tablet/x2/cow-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/about/tablet/x1/cow-tablet.webp    1x,
              ./images/about/tablet/x2/cow-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/about/desktop/x1/cow-desktop.png    1x,
              ./images/about/desktop/x2/cow-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about/desktop/x1/cow-desktop.webp    1x,
              ./images/about/desktop/x2/cow-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <img src="./images/about/desktop/x1/cow-desktop.webp" alt="happy cow" />
        </picture>
      </div>

      <div class="about-text-wrapper">
        <p class="about-description-general">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-description-secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="modal__btn about__btn" type="button" data-modal-team-open>Read more
          <svg class="arrow__svg" width=10 height=15>
            <use href="./images/sprite.svg#arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
