<section class="container about">
<span class="about-signature">tradition and love</span>
<h2 class="about-header">how it’s made?</h2>
<img class="about-cow" src="./images/about/tel/x1/cow-tel.png" alt="happy cow" width="280" height="280">
<p class="about-description-general">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="about-description-secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
Aliquam erat volutpat. Aenean accumsan.</p>
<button class="about__btn" type="button">Read more<img class="about__arrow" src="./images/about/vector.png" alt="arrow">
</button>



</section>