<section class="gallery-section">
  <div class="container">
    <h2 class="visually-hidden">Мир мороженого</h2>
    <div class="gallery">
      <div class="gallery__item gallery__item--1">
        <picture>
          <source
            srcset="images/gallery/pic1.webp 1x, images/gallery/pic1@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic1.jpg 1x, images/gallery/pic1@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic1.jpg" alt="example1" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--2">
        <picture>
          <source
            srcset="images/gallery/pic2.webp 1x, images/gallery/pic2@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic2.jpg 1x, images/gallery/pic2@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic2.jpg" alt="example2" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--3">
        <picture>
          <source
            srcset="images/gallery/pic3.webp 1x, images/gallery/pic3@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic3.jpg 1x, images/gallery/pic3@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic3.jpg" alt="example3" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--4">
        <picture>
          <source
            srcset="images/gallery/pic4.webp 1x, images/gallery/pic4@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic4.jpg 1x, images/gallery/pic4@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic4.jpg" alt="example4" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--5">
        <picture>
          <source
            srcset="images/gallery/pic5.webp 1x, images/gallery/pic5@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic5.jpg 1x, images/gallery/pic5@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic5.jpg" alt="example5" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--6">
        <picture>
          <source
            srcset="images/gallery/pic6.webp 1x, images/gallery/pic6@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic6.jpg 1x, images/gallery/pic6@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic6.jpg" alt="example6" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--7">
        <picture>
          <source
            srcset="images/gallery/pic7.webp 1x, images/gallery/pic7@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic7.jpg 1x, images/gallery/pic7@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic7.jpg" alt="example7" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--8">
        <picture>
          <source
            srcset="images/gallery/pic8.webp 1x, images/gallery/pic8@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic8.jpg 1x, images/gallery/pic8@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic8.jpg" alt="example8" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--9">
        <picture>
          <source
            srcset="images/gallery/pic9.webp 1x, images/gallery/pic9@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic9.jpg 1x, images/gallery/pic9@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic9.jpg" alt="example9" />
        </picture>
      </div>
      <div class="gallery__item gallery__item--10">
        <picture>
          <source
            srcset="images/gallery/pic10.webp 1x, images/gallery/pic10@2x.webp 2x"
            type="image/webp"
          />

          <source srcset="images/gallery/pic10.jpg 1x, images/gallery/pic10@2x.jpg 2x" />
          <img class="gallery__img" src="images/gallery/pic10.jpg" alt="example10" />
        </picture>
      </div>
    </div>
  </div>
</section>
