<section class="gallery-section">
  <div class="container">
    <h2 class="visually-hidden">Мир мороженого</h2>
    <div class="gallery">
      <div class="gallery__item gallery__item--1">
        <img class="gallery__img" src="images/gallery/pic1.jpg" alt="example1" />
      </div>
      <div class="gallery__item gallery__item--2">
        <img class="gallery__img" src="images/gallery/pic2.jpg" alt="example2" />
      </div>
      <div class="gallery__item gallery__item--3">
        <img class="gallery__img" src="images/gallery/pic3.jpg" alt="example3" />
      </div>
      <div class="gallery__item gallery__item--4">
        <img class="gallery__img" src="images/gallery/pic4.jpg" alt="example4" />
      </div>
      <div class="gallery__item gallery__item--5">
        <img class="gallery__img" src="images/gallery/pic5.jpg" alt="example5" />
      </div>
      <div class="gallery__item gallery__item--6">
        <img class="gallery__img" src="images/gallery/pic6.jpg" alt="example6" />
      </div>
      <div class="gallery__item gallery__item--7">
        <img class="gallery__img" src="images/gallery/pic7.jpg" alt="example7" />
      </div>
      <div class="gallery__item gallery__item--8">
        <img class="gallery__img" src="images/gallery/pic8.jpg" alt="example8" />
      </div>
      <div class="gallery__item gallery__item--9">
        <img class="gallery__img" src="images/gallery/pic9.jpg" alt="example9" />
      </div>
      <div class="gallery__item gallery__item--10">
        <img class="gallery__img" src="images/gallery/pic10.jpg" alt="example10" />
      </div>
    </div>
  </div>
</section>
