<header class="header-section">
    <div class="container container-header">
        <a class="logo" href="#">
            <picture>
                <source srcset="images/hero/common/logo.png 1x, images/hero/common/logo@2x.png 2x" media="(min-width: 480px)">
                <img src="images/hero/common/logo.png" alt="logo-ice">
            </picture>
        </a>
        <ul class="header-list">
            <li class="header-list__item list">
                <a class="header-list__link link-current link" href="#home">Home</a></li>
            <li class="header-list__item list">
                <a class="header-list__link link" href="#about-us">About us</a></li>
            <li class="header-list__item list">
                <a class="header-list__link link" href="#how-its-made">How it’s made?</a></li>
            <li class="header-list__item list">
                <a class="header-list__link link" href="#our-products">Our products</a></li>
            <li class="header-list__item list">
                <a class="header-list__link link" href="#contact">Contact</a></li>
        </ul>
        <div class="button-section">
            <button type="button" class="button-burger">
            <svg class="button-burger__icon" width="20px" height="12px">
                <use href="images/sprite.svg#burger"></use>
            </svg>           
        </button>
            <button class="header-button">Buy now</button>
        </div>

    </div>
    <div class="container container-hero">
        <h1 class="hero-title">ice cream made with <span class="hero-title__subtitle">passion</span></h1>
        <div class="hero-button">
            <button class="hero-button__product">Products</button>
            <button class="hero-button__made">How it’s made?</button>
        </div>
        <div class="hero-product">
            <picture>
                <source srcset="images/hero/tablet/x1/milk-tablet.webp 1x, images/hero/tablet/x2/milk-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                <source srcset="images/hero/desktop/x1/milk-desktop.webp 1x, images/hero/desktop/x2/milk-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                <source srcset="images/hero/tablet/x1/milk-tablet.png 1x, images/hero/tablet/x2/milk-tablet@2x.png 2x" media="(min-width: 768px)">
                <source srcset="images/hero/desktop/x1/milk-desktop.png 1x, images/hero/desktop/x2/milk-desktop@2x.png 2x" media="(min-width: 1200px)">
                <img class="hero-product__milk" src="images/hero/desktop/x1/milk-desktop.png" alt="image milk">
            </picture>
            <div class="hero-product-about">
                <p class="hero-product-about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="hero-product-about__arrow">
                <svg class="hero-product-about__arrow-svg">
                    <use href="images/sprite.svg#arrow_right_round"></use>
                </svg>
            </button>
            </div>
        </div>
        <div class="icecream-image">
            <div class="icecream-image__ellipse"></div>
            <img class="icecream-image__ice" src="images/hero/desktop/x1/icecream-desktop.png" alt="icecream">
            <img class="icecream-image__tasty" src="images/hero/desktop/x1/so-tasty-desktop.png" alt="tasty">
        </div>
        <p class="hero-cafes">
            <span class="hero-cafes__number">16</span>
            <span class="hero-cafes__text">cafes</span>
            <span class="hero-cafes__ellipse"></span>
        </p>
        <p class="hero-food">
            <span class="hero-food__number">23</span>
            <span class="hero-food__text">food trucks</span>
            <span class="hero-cafes__ellipse"></span>
        </p>
    </div>
</header>