<div class="backdrop is-hidden" data-modal-franchise>
    <div class="modal__franchise">
        <button class="modal__btn-close" type="button" data-modal-franchise-close>
            <svg width=18px height=18px>
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal__title">franchise</h2>
        <ul class="list franchise__list">
            <li class="franchise__item">
                <a class="link franchise__link" href="">
                    <picture>
                        <source
                            srcset="images/products/desktop/x1/product1-desktop.png 1x, images/products/desktop/x2/product1-desktop@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="images/products/tablet/x1/product1-tablet.png 1x, images/products/tablet/x2/product1-tablet@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="images/products/tel/x1/product1-tel.png 1x, images/products/tel/x2/product1-tel@2x.png 2x"
                            media="(min-width: 480px)">
                        <img src="images/products/tel/x1/product1-tel.png" alt="ice cream">
                    </picture>
                    <p class="franchise__subscribe">Lorem, ipsum dolor.</p>
                    <button class="modal__btn modal__btn-accent" type="button">
                        <span class="modal__text">Read more</span>
                        <svg width=10 height=15>
                            <use href="./images/sprite.svg#arrow_right"></use>
                        </svg>
                    </button>
                </a>
            </li>
            <li class="franchise__item">
                <a class="link franchise__link" href="">
                    <picture>
                        <source
                            srcset="images/products/desktop/x1/product2-desktop.png 1x, images/products/desktop/x2/product2-desktop@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="images/products/tablet/x1/product2-tablet.png 1x, images/products/tablet/x2/product2-tablet@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="images/products/tel/x1/product2-tel.png 1x, images/products/tel/x2/product2-tel@2x.png 2x"
                            media="(min-width: 480px)">
                        <img src="images/products/tel/x1/product2-tel.png" alt="ice cream">
                    </picture>
                    <p class="franchise__subscribe">Lorem, ipsum dolor.</p>
                    <button class="modal__btn modal__btn-accent" type="button">
                        <span class="modal__text">Read more</span>
                        <svg width=10 height=15>
                            <use href="./images/sprite.svg#arrow_right"></use>
                        </svg>
                    </button>
                </a>
            </li>
            <li class="franchise__item">
                <a class="link franchise__link" href="">
                    <picture>
                        <source
                            srcset="images/products/desktop/x1/product3-desktop.png 1x, images/products/desktop/x2/product3-desktop@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="images/products/tablet/x1/product3-tablet.png 1x, images/products/tablet/x2/product3-tablet@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="images/products/tel/x1/product3-tel.png 1x, images/products/tel/x2/product3-tel@2x.png 2x"
                            media="(min-width: 480px)">
                        <img src="images/products/tel/x1/product3-tel.png" alt="ice cream">
                    </picture>
                    <p class="franchise__subscribe">Lorem, ipsum dolor.</p>
                    <button class="modal__btn modal__btn-accent" type="button">
                        <span class="modal__text">Read more</span>
                        <svg width=10 height=15>
                            <use href="./images/sprite.svg#arrow_right"></use>
                        </svg>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>