<div class="backdrop is-hidden" data-modal-team>
    <div class="modal__team">
        <button class="modal__btn-close" type="button" data-modal-team-close>
            <svg width=18px height=18px>
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal__title">our team</h2>
        <ul class="list team__list">
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer/Team Lead</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer/Scrum Master</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/olha_shopina.jpg" alt="Девушка в черной футболке">
                    <h2 class="team__subscribe">Olha Shopina</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="team__item">
                <a class="link team__link" href="">
                    <img class="team__icon" src="images/team/serhii_tkachenko.jpg" alt="Мужчина в клетчатой рубашке">
                    <h2 class="team__subscribe">Serhii Tkachenko</h2>
                    <p class="team__subscribe team__subscribe-job">Developer</p>
                    <ul class="social__list list">
                        <li class="social__item">
                            <a class="social__link" href="https://github.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://web.telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</div>