<div class="backdrop is-hidden menu-burger__backdrop" data-modal-team>
  <div class="modal__team">
    <button class="modal__btn-close" type="button" data-modal-team-close>
      <svg width="18px" height="18px">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal__title">our team</h2>
    <ul class="list team__list">
      <li class="team__item">
        <img class="team__icon" src="images/team/vitaliy_kikot.jpg" alt="Мужчина в синем свитере" />
        <h2 class="team__subscribe">Vitaliy Kikot</h2>
        <p class="team__subscribe team__subscribe-job">Developer/Team Lead</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#home" target="_blank" data-close-all>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/serhii_tkachenko.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Serhii Tkachenko</h2>
        <p class="team__subscribe team__subscribe-job">Developer/Scrum Master</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#contact" target="_blank" data-close-contact>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/yurii_shavursky.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Yurii Shavursky</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#home" target="_blank" data-close-home>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/olha_shopina.jpg"
          alt="Девушка в черной футболке"
        />
        <h2 class="team__subscribe">Olha Shopina</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#about-us" target="_blank" data-close-about>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/alina_suvorova.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Alina Suvorova</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#our-products" target="_blank" data-close-products>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/olha_yeliseyeva.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Olha Yeliseyeva</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#gallery" target="_blank" data-close-gallery>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/oleksii_hordiienko.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Oleksii Hordiienko</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#how-its-made" target="_blank" data-close-how>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/denys_sobeshchuk.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Denys Sobeshchuk</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#advantages" target="_blank" data-close-advantages>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team__item">
        <img
          class="team__icon"
          src="images/team/viacheslav_mamchur.jpg"
          alt="Мужчина в клетчатой рубашке"
        />
        <h2 class="team__subscribe">Viacheslav Mamchur</h2>
        <p class="team__subscribe team__subscribe-job">Developer</p>
        <ul class="social__list list">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#footer" target="_blank" data-close-footer>
              <svg class="social__icon">
                <use href="./images/sprite.svg#ice-cream"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
