<div class="backdrop is-hidden menu-burger__backdrop" data-modal-map>
    <div class="modal__map">
        <button class="modal__btn-close" type="button" data-modal-map-close>
            <svg width=18px height=18px>
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal__title">our locations</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12308114.972955434!2d-93.69693039602814!3d41.13647138302171!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1619267118221!5m2!1sru!2sua"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>