<section class="products container">
  <div class="products-wrapper">
    <label class="products-label">100% natural</label>
    <h1 class="products-title">products</h1>
  </div>
    <ul class="products-list list">
      <li class="products-list__item">
        <div class="products-list__wrapper ice-cream">
            <picture>
              <source srcset="images/products/tablet/x1/product1-tablet.webp 1x, images/products/tablet/x2/product1-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
              <source srcset="images/products/desktop/x1/product1-desktop.webp 1x, images/products/desktop/x2/product1-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
              <source srcset="images/products/tablet/x1/product1-tablet.png 1x, images/products/tablet/x2/product1-tablet@2x.png 2x" media="(min-width: 768px)">
              <source srcset="images/products/desktop/x1/product1-desktop.png 1x, images/products/desktop/x2/product1-desktop@2x.png 2x" media="(min-width: 1200px)">
              <img class="products-list__img" src="images/products/desktop/x1/product1-desktop.png" alt="ice cream">
          </picture>
            <h2 class="products-list__title">ice cream</h2>
            <ul class="product-points__list list">
              <li class="product-points__item">
                  <svg class="product-points__icon">
                      <use href="images/sprite.svg#ellipse"></use>
                  </svg>
              </li>
              <li class="product-points__item">
                  <svg class="product-points__icon">
                      <use href="images/sprite.svg#ellipse"></use>
                  </svg>
              </li>
              <li class="product-points__item">
                  <svg class="product-points__icon">
                      <use href="images/sprite.svg#ellipse"></use>
                  </svg>
              </li>
            </ul>
            <p class="products-list__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
            </p>
            <button class="modal__location products-list__btn" type="button">
              <svg class="product-list__icon_btn">
                <use href="./images/sprite.svg#arrow_right_round"></use>
              </svg>
            </button>
          </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__wrapper ice-coffee">
        <picture>
          <source srcset="images/products/tablet/x1/product2-tablet.webp 1x, images/products/tablet/x2/product2-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
          <source srcset="images/products/desktop/x1/product2-desktop.webp 1x, images/products/desktop/x2/product2-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
          <source srcset="images/products/tablet/x1/product2-tablet.png 1x, images/products/tablet/x2/product2-tablet@2x.png 2x" media="(min-width: 768px)">
          <source srcset="images/products/desktop/x1/product2-desktop.png 1x, images/products/desktop/x2/product2-desktop@2x.png 2x" media="(min-width: 1200px)">
          <img class="products-list__img" src="images/products/desktop/x1/product2-desktop.png" alt="ice coffee">
      </picture>
          <h2 class="products-list__title">ice coffee</h2>
          <ul class="product-points__list list">
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
          </ul>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
          </p>
          <button class="modal__location products-list__btn" type="button">
            <svg class="product-list__icon_btn">
              <use href="./images/sprite.svg#arrow_right_round"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__wrapper milkshakes">
        <picture>
          <source srcset="images/products/tablet/x1/product3-tablet.webp 1x, images/products/tablet/x2/product3-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
          <source srcset="images/products/desktop/x1/product3-desktop.webp 1x, images/products/desktop/x2/product3-desktop@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
          <source srcset="images/products/tablet/x1/product3-tablet.png 1x, images/products/tablet/x2/product3-tablet@2x.png 2x" media="(min-width: 768px)">
          <source srcset="images/products/desktop/x1/product3-desktop.png 1x, images/products/desktop/x2/product3-desktop@2x.png 2x" media="(min-width: 1200px)">
          <img class="products-list__img" src="images/products/desktop/x1/product3-desktop.png" alt="image milk">
      </picture>
          <h2 class="products-list__title">milkshakes</h2>
          <ul class="product-points__list list">
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
            <li class="product-points__item">
                <svg class="product-points__icon">
                    <use href="images/sprite.svg#ellipse"></use>
                </svg>
            </li>
          </ul>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
          </p>
          <button class="modal__location products-list__btn" type="button">
            <svg class="product-list__icon_btn">
              <use href="./images/sprite.svg#arrow_right_round"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
</section>
