<section class="products container">
  <div class="products__wrapper">
    <label class="products__label">100% natural</label>
    <h1 class="products__title">products</h1>
  </div>
  <ul class="products__list list">
    <li class="products__item">
      <div class="products__container icecream">
        <picture>
          <source
            srcset="
              images/products/desktop/x1/product1-desktop.webp    1x,
              images/products/desktop/x2/product1-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              images/products/desktop/x1/product1-desktop.png    1x,
              images/products/desktop/x2/product1-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/products/tablet/x1/product1-tablet.webp    1x,
              images/products/tablet/x2/product1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tablet/x1/product1-tablet.png    1x,
              images/products/tablet/x2/product1-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/products/tel/x1/product1-tel.webp    1x,
              images/products/tel/x2/product1-tel@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tel/x1/product1-tel.png    1x,
              images/products/tel/x2/product1-tel@2x.png 2x
            "
            media="(max-width: 768px)"
          />

          <img
            class="products__img"
            src="images/products/tel/x1/product1-tel.png"
            alt="ice cream"
          />
        </picture>
        <h2 class="icecream__title">ice cream</h2>
        <ul class="icecream__list list">
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
        </ul>
        <p class="icecream__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icecream__btn modal__location" type="button">
          <svg class="icecream__svg">
            <use href="./images/sprite.svg#arrow_right_round"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item">
      <div class="products__container ice-coffee">
        <picture>
          <source
            srcset="
              images/products/desktop/x1/product2-desktop.webp    1x,
              images/products/desktop/x2/product2-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              images/products/desktop/x1/product2-desktop.png    1x,
              images/products/desktop/x2/product2-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/products/tablet/x1/product2-tablet.webp    1x,
              images/products/tablet/x2/product2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tablet/x1/product2-tablet.png    1x,
              images/products/tablet/x2/product2-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              images/products/tel/x1/product2-tel.webp    1x,
              images/products/tel/x2/product2-tel@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tel/x1/product2-tel.png    1x,
              images/products/tel/x2/product2-tel@2x.png 2x
            "
            media="(max-width: 768px)"
          />

          <img
            class="products__img"
            src="images/products/tel/x1/product2-tel.png"
            alt="ice coffee"
          />
        </picture>
        <h2 class="icecream__title">ice coffee</h2>
        <ul class="icecream__list list">
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
        </ul>
        <p class="icecream__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icecream__btn modal__location" type="button">
          <svg class="icecream__svg">
            <use href="./images/sprite.svg#arrow_right_round"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item">
      <div class="products__container milkshakes">
        <picture>
          <source
            srcset="
              images/products/desktop/x1/product3-desktop.webp    1x,
              images/products/desktop/x2/product3-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              images/products/desktop/x1/product3-desktop.png    1x,
              images/products/desktop/x2/product3-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/products/tablet/x1/product3-tablet.webp    1x,
              images/products/tablet/x2/product3-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tablet/x1/product3-tablet.png    1x,
              images/products/tablet/x2/product3-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              images/products/tel/x1/product3-tel.webp    1x,
              images/products/tel/x2/product3-tel@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />

          <source
            srcset="
              images/products/tel/x1/product3-tel.png    1x,
              images/products/tel/x2/product3-tel@2x.png 2x
            "
            media="(max-width: 768px)"
          />

          <img
            class="products__img"
            src="images/products/tel/x1/product3-tel.png"
            alt="image milk"
          />
        </picture>
        <h2 class="icecream__title">milkshakes</h2>
        <ul class="icecream__list list">
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
          <li class="icecream__item">
            <svg class="icecream__icon">
              <use href="images/sprite.svg#ellipse"></use>
            </svg>
          </li>
        </ul>
        <p class="icecream__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="icecream__btn modal__location" type="button">
          <svg class="icecream__svg">
            <use href="./images/sprite.svg#arrow_right_round"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
