<section class="products">
  <div class="container">
    <label class="products-label">100% natural</label>
    <h1 class="products-title">products</h1>
    <ul class="products-list list">
      <li class="products-list__item">
        <img
          class="products-list__img"
          src="./images/products/tel/x1/product1-tel.png"
          alt="ice cream"
        />
        <div class="products-list__wrapper">
          <h2 class="products-list__title">ice cream</h2>
          <p class="products-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-list__btn" type="button">
            <svg class="product-list__icon_btn">
              <use href="./images/sprite.svg#arrow_right_round"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <img
          class="products-list__img"
          src="./images/products/tel/x1/product2-tel.png"
          alt="ice coffee"
        />
        <div class="products-list__wrapper">
          <h2 class="products-list__title">ice coffee</h2>
          <p class="products-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-list__btn" type="button">
            <svg class="product-list__icon_btn">
              <use href="./images/sprite.svg#arrow_right_round"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <img
          class="products-list__img"
          src="./images/products/tel/x1/product3-tel.png"
          alt="milkshakes"
        />
        <div class="products-list__wrapper">
          <h2 class="products-list__title">milkshakes</h2>
          <p class="products-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-list__btn" type="button">
            <svg class="product-list__icon_btn">
              <use href="./images/sprite.svg#arrow_right_round"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
