<section class="reviews">
    <h1 class="reviews__title visually-hidden">Customer Reviews</h1>
    <div class="reviews__box">
        <img srcset="images/reviews/x1/person1.png 1x, images/reviews/x2/person1@2x.png 2x, images/reviews/x1/person1.webp 1x, images/reviews/x2/person1@2x.webp 2x" 
        src="images/reviews/x1/person1.png" 
        alt="Emily" />
        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <h2 class="reviews__contacts">Emily, Los Angeles</h2>
    </div>
    <div class="reviews__box">
        <img srcset="images/reviews/x1/person2.png 1x, images/reviews/x2/person2@2x.png 2x, images/reviews/x1/person2.webp 1x, images/reviews/x2/person2@2x.webp 2x"
            src="images/reviews/x1/person2.png" 
            alt="Julia" />
        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <h2 class="reviews__contacts">Julia, New York</h2>
    </div>
    <div class="reviews__box">
        <img srcset="images/reviews/x1/person3.png 1x, images/reviews/x2/person3@2x.png 2x, images/reviews/x1/person3.webp 1x, images/reviews/x2/person3@2x.webp 2x"
            src="images/reviews/x1/person3.png" 
            alt="Rosalie" />
        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <h2 class="reviews__contacts">Rosalie, Seattle</h2>
    </div>
</section>