.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--animation-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
