.btn-scroll-back {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-color: transparent;
  border-radius: 50%;
  background-color: var(--background-modal);
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  transition: opacity 0.5s linear;

  @media screen and (min-width: $tablet-min) {
    width: 50px;
    height: 50px;
  }
}

.btn-scroll-back__icon {
  width: 25px;
  height: 15px;

  @media screen and (min-width: $tablet-min) {
    width: 30px;
    height: 18px;
  }
}

.btn-scroll-back:hover,
.btn-scroll-back:focus {
  filter: brightness(1.5);
  outline: none;
}

.btn-scroll-back__icon {
  transform: rotate(-90deg);
  color: var(--main-white-color);
}

@media screen and (min-width: $tablet-min) {
  .btn-scroll-back {
    right: 30px;
    bottom: 30px;
  }
}
