.modal__btn-close {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-white-color);

  &:hover,
  &:focus {
    color: var(--text-color-title);
    background-color: var(--background-btn);
  }
}
