.modal {
  &__location {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $mobile-max) {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color-title);
    background-color: var(--main-white-color);
    border-style: none;
    border-radius: 22px;
    padding: 15px 0;
    min-width: 160px;
    fill: var(--text-color-title);

    &:hover,
    &:focus {
      background-color: var(--background-btn);
    }

    &-accent {
      color: var(--main-white-color);
      background-color: var(--text-color-title);

      &:hover,
      &:focus {
        background-color: var(--background-dots-reviews);
      }
    }

    @media screen and (max-width: $mobile-max) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $tablet-min) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__text {
    margin-right: 12px;
  }
}
