.franchise {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
}

.backdrop {
    z-index: 100;
    background-color: var(--background-icon);
    padding: 50px;
}