.modal {
  &__map {
    background-color: var(--background-accent);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px 30px;
    max-width: 1090px;
    border-radius: 4px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    @media screen and (min-width: $tablet-min) {
      padding: 25px 45px;
    }

    @media screen and (min-width: $desktop-min) {
      padding: 35px 55px;
    }
  }

  &__title {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: normal;
    text-transform: uppercase;
    color: var(--text-color-title);
    margin-bottom: 26px;

    @media screen and (min-width: $tablet-min) {
      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: $desktop-min) {
      font-size: 30px;
      letter-spacing: 0.04em;
      line-height: 1.13;
    }
  }
}
