.location {
  background-color: var(--background-accent);
}

.location {
  padding-top: 44px;
  padding-bottom: 55px;

  &__list {
    margin: 0 auto;
    margin-bottom: 55px;
  }

  &__item {
    padding: 43px 20px;
    max-width: 220px;
    background: var(--main-white-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
