.footer {
  background-color: var(--background-accent);
}

.footer__title {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;

  color: var(--text-color-pink);

  margin-bottom: 43px;
}

.footer__title--accent {
  width: 200px;

  font-size: 34px;
  line-height: 1.15;
  color: var(--text-color-title);

  margin-top: 17px;
}

.footer__contacts {
  font-weight: 700;
  font-size: 12px;
  text-align: end;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-bottom: 43px;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 46px;
}

.footer__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--background-icon);

  &:hover,
  &:focus {
    background-color: var(--text-color-title);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.footer__tel {
  color: var(--text-color-title);
}

.footer__copyright {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;

  padding: 25px 20px;

  color: var(--text-color-accent);

  border-top: 1px solid var(--background-reviews);
}

.copyright__text {
  width: 150px;
  margin: 0 auto;
}
