.gallery {
  height: 122px;
  background-image: url(/images/gallery/tel/x1/gallery-tel.jpg),
    linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/gallery/tel/x2/gallery-tel@2x.jpg),
      linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
  }
}

@media (min-width: 480px) {
  .gallery {
    height: 264px;
    background-image: url(/images/gallery/tablet/x1/gallery-tablet.jpg),
      linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/gallery/tablet/x2/gallery-tablet@2x.jpg),
        linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
    }
  }
}

@media (min-width: 768px) {
  .gallery {
    height: 264px;

    background-image: url(/images/gallery/desktop/x1/gallery-desktop.jpg),
      linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/gallery/desktop/x2/gallery-desktop@2x.jpg),
        linear-gradient(180deg, var(--background-accent) 39.77%, var(--main-white-color) 0);
    }
  }
}
