.header-section {
    background-color: #FFB8CA;
}

.header-list {
    display: none;
}

.header-button {
    display: none;
}

// .header-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
.container-flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

// .header-list__item {
//     margin-right: 35px;
//     &:last-child {
//         margin-right: 0;
//     }
// }
// .header-list__item {
//     font-family: DM Sans;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.31;
//     color: #FFFFFF;
// }
.header-button {
    width: 159px;
    height: 44px;
    background: #FFFFFF;
    border: none;
    border-radius: 22px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
}

.button-burger {
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .header-button {
        display: block;
    }
}

@media screen and (min-width: 1280px) {}