.container {
  outline: none;
}
.products {
  padding-top: 60px;
  padding-bottom: 98px;
}
.products__wrapper {
  text-align: center;
  margin-bottom: 144px;
}
.products__label {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color-pink);
  padding-bottom: 15px;
}
.products__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--text-color-title);
}
.products__container {
  padding-bottom: 40px;
  position: relative;
  width: 280px;
  border-radius: 24px;
  margin: 0 auto;
  bottom: 0;
}
.products__img {
  position: absolute;
  margin: 0 auto;
  top: -120px;
  width: 249px;
  height: 252px;
}

.icecream {
  background-color: var(--background-pink);
}
.ice-coffee {
  background-color: var(--background-beige);
}
.milkshakes {
  background-color: var(--background-green);
}
.icecream__title {
  padding-top: 160px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  padding-bottom: 30px;
}
.products-list__img_points {
  margin: 0 auto;
  padding-bottom: 30px;
}
.icecream__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.76;
  color: var(--main-white-color);
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}
.icecream__btn {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: var(--main-white-color);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--background-btn);
  }
}
.icecream__svg {
  width: 15px;
  height: 15px;
  fill: var(--background-icon-reviews-accent);
}
.icecream__dots {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.icecream__dot:not(:last-child) {
  margin-right: 5px;
}
.icecream__icon {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  fill: var(--main-white-color);
}
@media screen and (max-width: 768px) {
  .products__item:not(:last-child) {
    margin-bottom: 130px;
  }
  .products__img {
    left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 61px;
    padding-bottom: 112px;
  }
  .products__label {
    font-size: 26px;
    line-height: 30px;
  }
  .products__title {
    font-size: 48px;
    line-height: 55px;
  }
  .products__img {
    width: 220px;
    height: 226px;
    top: -100px;
  }
  .products__container {
    width: 220px;
  }
  .icecream__text {
    padding-left: 11px;
    padding-right: 11px;
  }
  .products__list {
    display: flex;
    margin-left: -20px;
  }

  .products__item {
    margin-left: 20px;
    display: flex;
    flex-basis: calc((100% - 20px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 64px;
    padding-bottom: 119px;
  }
  .products__wrapper {
    margin-bottom: 259px;
  }
  .products__label {
    font-size: 30px;
    line-height: 34px;
  }
  .products__title {
    font-size: 58px;
    line-height: 66px;
  }
  .products__img {
    width: 335px;
    height: 335px;
    top: -210px;
  }
  .products__container {
    width: 329px;
    padding-bottom: 50px;
  }
  .icecream__title {
    font-size: 30px;
    line-height: 34px;
  }
  .icecream__text {
    font-size: 16px;
    line-height: 1.76;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 60px;
  }
  .products__list {
    display: flex;
    margin-left: -24px;
  }
  .products__item {
    margin-left: 24px;
    display: flex;
    flex-basis: calc((100% - 24px) / 3);
  }
}
